{{ partial "header.html" . }}


<!-- Main Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<main id="index" role="main">
  <div class="article-header light-gray">
    <h1 style="float: left">Recent Articles</h1>
    <div style="float: right">
    {{ with .Site.Params.googleSearch }}<gcse:search></gcse:search>{{ end }}
    </div>
  </div>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ range $paginator.Pages }}
  <div class="summary">
    <h2><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></h2>
    <i>{{ .Summary }}</i>
    {{ if .Truncated }}
    <div class="read-more">
        <i><a href="{{ .Permalink }}">read more</a></i>
    </div>
    {{ end }}
    <div class="meta">
      {{ .Date.Format "Jan 2, 2006" }} &nbsp;
      {{ range .Params.tags }}
        #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
    </div>
  </div>
  {{ end }}
</main>


<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ template "_internal/pagination.html" . }}
</nav>


{{ partial "footer.html" . }}
